.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%; 
    padding: 0 10px;
}

.logo-title {
    font-size: 3rem;
    text-shadow: 1px 3px 8px rgba(0,0,0,0.8);
    color: #efefef;
}