/*******************************************************/
/*               PROPRIETES COMMUNES                   */
/*******************************************************/

.container-logo, .logo-initial, .initial {
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-name, .person-job {
    display: none;
}


/*******************************************************/
/*               FIN PROPRIETES COMMUNES               */
/*******************************************************/

.container-logo {
    padding: 8px 32px;
}

.logo-initial {
    height: 100px;
    width: 100px;
    text-align: center;
    background: linear-gradient(45deg,rgb(156, 14, 156), midnightblue); 
    border: 3px solid ;
    border-radius: 50%;   
}

.initial {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    color: #efefef;
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 1px 3px 8px rgb(0 0 0 / 80%);
    cursor: pointer;
    position: relative;
}


/*******************************************************/
/*          ECRAN SUPERIEUR OU EGAL À 768px            */
/*******************************************************/
@media screen and (min-width: 768px) {
    
    .initial::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        opacity: 0;
        background-image: url('../../assets/images/amadou.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(0);
        transition: opacity 0.6s linear, transform 0.6s 0.2s ease-in-out;
    }
    .initial:hover::after {
        opacity: 1;
        transform: scale(1)
    }
    .logo-person {
        margin-left: 1rem;
    }
    .person-name, .person-job {
        display: block;
    }
    .person-name {
        font-size: 20px;
        color: #f9f5ff;
        cursor: pointer;
    }

    .person-job {
        color: #000;
    }
    .person-name::after {
        content: "";
        display: block;
        width: 0px;
        margin: 2px auto 0 auto;
        height: 4px;
        border-radius: 2px;
        background: #aaa;
        transition: width 0.2s cubic-bezier(0.97, 0.15, 0, 0.94);
    }

    .person-name:hover::after {
        width: 100%;
    }
}

/*******************************************************/
/*       FIN ECRAN SUPERIEUR OU EGAL À 768px           */
/*******************************************************/