.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px
}

.logo-initial {
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
    border: 1px solid red;
    border-radius: 50%;   
}
.person-name, .person-job {
    display: none;
}

.initial {
    display: block;
    height: 62px;
    width: 62px;
    background: green;
    border-radius: 50%;
    color: #efefef;
    font-size: 2.2rem;
    text-shadow: 1px 3px 8px rgb(0 0 0 / 80%);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .logo-person {
        margin-left: 1rem;
    }
    .person-name, .person-job {
        display: block;
    }
    .person-name {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }

    .person-name::after {
        content: "";
        display: block;
        width: 0px;
        margin: 2px auto 0 auto;
        height: 4px;
        border-radius: 2px;
        background: #aaa;
        transition: width 0.2s cubic-bezier(0.97, 0.15, 0, 0.94);
    }

    .person-name:hover::after {
        width: 100%;
    }
}