header {
    position: fixed;
    top:0;
    width: 100%;
    background: linear-gradient(45deg,rgb(156, 14, 156), midnightblue); 
    /* display: flex;
    justify-content: space-between;    */
}

@media screen and (min-width: 992px) {
    header {
        display: flex;
        justify-content: space-between;
    }
}