.realizations {
    width: 100%;
    height: auto;
    background-image: url('../../assets/images/projet-bg-realization.png');
    background-size: cover;
    padding: 1rem;
}
.realizations_title {
    font-size: 38px;
    color: #f1f1f1;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.realizations_body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}