.realization {
    width: 410px;
    height: auto;
    backdrop-filter: blur(5px);
    background: hsla(0,0%,100%,.1);
    border-radius: 50px;
    box-shadow: 20px 1px 50px rgb(0 0 0 / 50%);
    padding: 1rem;
    margin-bottom: 25px;   
}

.realization_img {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
}

.realization_img img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 15px;
}

.realization_name {
    text-transform: uppercase;
    color: #cbb26a;
    text-align: center;
}

.realization_title {
    color: #cbb26a;
    margin-bottom: 1rem;
}

.realization_description {
    color: #fff;
    margin-bottom: 1rem;
}
.realization_technology {
    color: #cbb26a;
    margin-bottom: 1rem;
}

.technology_title {
    display: inline-block;
    margin-bottom: 1rem;
}
.technology_icon {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-wrap: wrap;
}

.icon_lang {
    width: 40px;
    height: 40px;
    margin-right: 0.8rem;
}

@media screen and (max-width:420px) {
    .icon_lang {
        width: 32px;
        height: 32px;
    }
}

.realization_footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.6rem;
}

.footer_link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    padding: 0.6rem 0.5rem;
    border: 2px solid #cbb26a;
    position: relative;
} 

.footer_link::after,
.footer_link::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    transition: 0.3s ease-in-out;
}

.footer_link::after {
    top: -5px;
    left: -5px;
    border-top: 2px solid #cbb26a;
    border-left: 2px solid #cbb26a; 
}

.footer_link::before {
    bottom: -5px;
    right: -5px;
    border-bottom: 2px solid #cbb26a;
    border-right: 2px solid #cbb26a;
}

.footer_link:hover::after,
.footer_link:hover::before {
    width: calc(100% + 9px);
    height: calc(100% + 9px);
}
.footer_fa_arrow_right {
    margin-left: 0.5rem;
}