.realization {
    width: 410px;
    height: auto;
    backdrop-filter: blur(5px);
    background: hsla(0,0%,100%,.1);
    border-radius: 50px;
    box-shadow: 20px 1px 50px rgb(0 0 0 / 50%);
    padding: 1rem;
    margin-bottom: 25px;   
    /* cursor: pointer;   */
}

.realization_img {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
}

.realization_img img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 15px;
}

.realization_title {
    text-transform: uppercase;
    color: #cbb26a;
    text-align: center;
    margin-bottom: 1rem;
}
.realization_technology {
    color: #cbb26a;
}


.realization_footer {
    display: flex;
    justify-content: space-around;
}

.realization_footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    padding: 0.6rem 0.5rem;
}

.footer_fa_arrow_right {
    margin-left: 0.5rem;
}