*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins' , sans-serif;
  background: #f1f1f1;
  height: 100vh;
}

a {
  text-decoration: none;
}

