*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f9f6f6;
  height: 100vh;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
